{% extends 'base.html' %}

{% load static %}

{% block title %}За групата{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!-- Services -->
<div class="services-container">
    <div class="container">
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>За групата</h2>
            </div>
        </div>
        <div class="row">
<p style="text-align: justify;">
	<img alt="" src="{% static 'images/PUG-PostgreSQL-Bulgaria-04.jpg' %}" style="float: left; margin-right: 20px; width: 400px; height: 266px;" />Алармата на телефона ни събуди толкова рано, че навън беше пълен мрак... да се чудиш &ndash; рано сутрин ли е или късно през нощта?!<br />
	<br />
	Натоварени в таксита, всеки помъкнал съответния си багаж, кой с бонус приятелка, кой награбил под мишница невръстното си бебе &ndash; и то, милото, запътило се на PostgreSQL конференция в Мадрид.<br />
	<br />
	И така, трима колеги тръгнахме на своята първа съвместна конференция!</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p style="text-align: justify;">
	<img alt="" src="{% static 'images/PUG-PostgreSQL-Bulgaria-06.jpg' %}" style="width: 300px; height: 451px; float: right; margin-left: 20px" /><br />
	Излетяхме в пълен с българи самолет, та дори кацнахме в същия състав на испанска земя! Мадрид в края на октомври е пълната противоположност на София по това време на годината! Какъв кеф беше да свалим дебелите дрехи и якета, шапките и шаловете, да ги захвърлим в хотела и забравим за съществуването им до деня на връщането в България.<br />
	<br />
	Освен климата, който очевидно всички харесахме, успяхме да се насладим на вкусни испански ястия, изпихме доста кани сангрия и се разходихме свободно и лежерно из града &ndash; обходихме пеш толкова разнообразни, красиви и наситени с испански аромати улици, забележителности, паркове, завдения и кафетерии, че определено бихме повторили, та и потретили.<br />
	<br />
	На PostgreSQL конференцията се запознахме с различни и много интересни хора &ndash; германци, американци, разбира се &ndash; испанци, та дори и един сънародник :), собственици на бизнес, хора със свободна професия, представители от големи и малки, известни и не толкова популярни компании в IT индустрията.<br />
	<br />
	Тази 4-дневна конференция беше толкова вдъхновяваща за трима ни, че още на втория ден разговаряйки и обсъждайки разпалено, кипяхме от идеи! Някой предложи, дори не помним конкретно кой, защото идеята се въртеше в главите на трима ни: &bdquo;Да си направим PostgreSQL група в България?!&ldquo;. Нямаме спомен дали всеки потвърди официално: &bdquo;Да, нека я направим!&ldquo;. Като че ли, всичко дойде от само себе си и моментално започнахме организацията. Нашите приятели и половинките ни веднага изявиха желание да бъдат част от групата и да ни помогнат кой с каквото може. До няколко дни вече имахме лого благодарение на Младен, а след няколко седмици Живко и Митко направиха дизайн, който Мария успешно превърна в сайт, въпреки че Деян упорито и пречеше :)</p>
<p>
	&nbsp;</p>
<p>
	<img alt="" src="{% static 'images/PUG-PostgreSQL-Bulgaria-07.jpg' %}" style="width: 400px; height: 266px; float: left; margin-right: 20px;" /></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
	&nbsp;</p>
<p style="text-align: justify;">
	В деня на пристигането ни на родна земя, когато разпространихме идеята за наша PostgreSQL група, тази идея вече беше реално начинание. Май е излишно да споделяме, че нашите колеги в България се зарадваха много на новината за новата ни група и ни подкрепиха по всички параграфи. Изключително благодарни сме и на Мариян и останалите шефове, които приветстваха тази наша инициатива и дори ни помогнаха със &bdquo;седалището&ldquo; на нашата българска PostgreSQL група &ndash; офисът, в който работим :)</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p style="text-align: justify;">
	<br />
	Това е историята, накратко, как бързо и безболезнено родихме Българската PostgreSQL група. А това долу е &quot;чичо&quot; Митко.</p>
<p>
	&nbsp;</p>
<p style="text-align: center;">
	<img alt="" src="{% static 'images/PUG-PostgreSQL-Bulgaria-08.jpg' %}" style="width: 300px; height: 451px;" /></p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
<p>
	&nbsp;</p>
        </div>
    </div>
</div>

{% endblock %}
