{% extends 'base.html' %}

{% load static %}

{% block title %}bgpug 2017{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!-- Services -->
<div class="services-container">
    <div class="container">
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>bgpug2017</h2>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Час</th>
                        <th class="text-center">Лектор</th>
                        <th class="text-center">Тема</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10:50 - 11:00</td>
                        <td>Мариян Маринов</td>
                        <td><a href="https://youtu.be/KnQX-VXXju0" target="_blank">Откриване</a></td>
                    </tr>
                    <tr>
                        <td>11:00 - 11:45</td>
                        <td>Димитър Янакиев</td>
                        <td><a href="https://youtu.be/BFm5qAmgcag" target="_blank">Types of replication, pooling and HA</a></td>
                    </tr>
                    <tr>
                        <td>12:00 - 12:45</td>
                        <td>Иван Вергилиев Георгиев</td>
                        <td><a href="https://youtu.be/DUNRspgW8dk" target="_blank">Schema Design</a></td>
                    </tr>
                    <tr>
                        <td>12:45 - 14:00</td>
                        <td></td>
                        <td>Обяд</td>
                    </tr>
                    <tr>
                        <td>14:00 - 14:45</td>
                        <td>Живко Ангелов</td>
                        <td><a href="https://youtu.be/B40-52lD2Y4" target="_blank">PGlogical, VACUUM</a></td>
                    </tr>
                    <tr>
                        <td>15:00 - 15:45</td>
                        <td>Димитър Коджейков</td>
                        <td><a href="https://youtu.be/mhn-1fCAAEQ" target="_blank">Monitoring</a></td>
                    </tr>
                    <tr>
                        <td>16:00 - 16:45</td>
                        <td>Мариан Маринов</td>
                        <td><a href="https://youtu.be/n7n1_HVV12I" target="_blank">Analyze internal PostgreSQL statistics</a></td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td>Живко Ангелов</td>
                        <td><a href="https://youtu.be/LRmpnfUtc_Y" target="_blank">Mysql vs PostgreSQL</a></td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td>Мариан Маринов</td>
                        <td><a href="https://youtu.be/xuik3Bhsjq4" target="_blank">Unlogged vs Foreign vs tmps vs Tablespace</a></td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td>Лазар Крумов</td>
                        <td><a href="https://youtu.be/cfRBJfXWy9E" target="_blank">Migrating Information Systems to PostgreSQL</a></td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td>Янко Симеонов</td>
                        <td><a href="https://youtu.be/FyVyCE7kRyM" target="_blank">sqitch</a></td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td>Мариан Маринов</td>
                        <td><a href="https://youtu.be/EHgxay0trJ0" target="_blank">Altering hot tables</a></td>
                    </tr>
                    <tr>
                        <td>17:50 - 18:00</td>
                        <td>Мариан Маринов</td>
                        <td><a href="https://youtu.be/En3eKh97xEE" target="_blank">Закриване</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Кога</h2>
            </div>
        </div>
        <div class="row">
            25.06.2017
        </div>
        <div class="row">
            <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=c2RjOGs5amF1cWlvNThtNmRvaXFuNzFxbzQgcm9vdEBtaXRha2EtZy5uZXQ&amp;tmsrc=root%40mitaka-g.net"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_bg.gif"></a>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Тениски</h2>
            </div>
        </div>
        <div class="row">
            Може да резервирате: <a href="http://doodle.com/poll/am2p4sdc7npx4ikk">тук</a>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Streaming</h2>
            </div>
        </div>
        <div class="row">
        <ul>
        <li><a href="rtmp://strm.ludost.net/st/bgpug">RTMP</a></li>
        <li><a href="http://strm.ludost.net/bgpug.html">Web stream</a></li>
        </ul>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Къде</h2>
            </div>
        </div>
        <div class="row">
            <a href="https://siteground.com/">SiteGround</a> офис София: ул. Рачо Петков Казанджията 8, ет.3
            <div id="map1">
                <div id="map_canvas1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1787.137419220798!2d23.36817632450347!3d42.62160807488796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ca7185fd9c70331!2sSiteGround.com!5e1!3m2!1sen!2sbg!4v1495492510195" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
