{% extends 'base.html' %}

{% load static %}

{% block title %}bgpug 2017{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!-- Services -->
<div class="services-container">
    <div class="container">
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>bgpug2017</h2>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Час</th>
                        <th class="text-center">Лектор</th>
                        <th class="text-center">Тема</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10:50 - 11:00</td>
                        <td>Мариян Маринов</td>
                        <td>Откриване</td>
                    </tr>
                    <tr>
                        <td>11:00 - 11:45</td>
                        <td>Димитър Янакиев</td>
                        <td>Types of replication, pooling and HA</td>
                    </tr>
                    <tr>
                        <td>12:00 - 12:45</td>
                        <td>Иван Вергилиев Георгиев</td>
                        <td>Schema Design</td>
                    </tr>
                    <tr>
                        <td>12:45 - 14:00</td>
                        <td></td>
                        <td>Обяд</td>
                    </tr>
                    <tr>
                        <td>14:00 - 14:45</td>
                        <td>Живко Ангелов</td>
                        <td>PGlogical, VACUUM and barman</td>
                    </tr>
                    <tr>
                        <td>15:00 - 15:45</td>
                        <td>Димитър Коджейков</td>
                        <td>Monitoring</td>
                    </tr>
                    <tr>
                        <td>16:00 - 16:45</td>
                        <td>Мариан Маринов</td>
                        <td>Analyze internal PostgreSQL statistics</td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td></td>
                        <td>Lightning talks</td>
                    </tr>
                    <tr>
                        <td>17:00 - 17:50</td>
                        <td></td>
                        <td>TBA</td>
                    </tr>
                    <tr>
                        <td>17:50 - 18:00</td>
                        <td>Мариан Маринов</td>
                        <td>Закриване</td>
                    </tr>
                    <tr>
                        <td>19:30 - 00:00</td>
                        <td></td>
                        <td>After party - Кривото(на ъгъла на Дондуков и Будапеща)</td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Тениски</h2>
            </div>
        </div>
        <div class="row">
            Може да резервирате: <a href="http://doodle.com/poll/am2p4sdc7npx4ikk">тук</a>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Streaming</h2>
            </div>
        </div>
        <div class="row">
        <ul>
            <li>RTMP: rtmp://strm.ludost.net/st/bgpug</li>
            <li>Web stream: http://strm.ludost.net/bgpug.html</li>
        </ul>
        </div>
		<div class="row">
            <div class="col-sm-12 work-title wow fadeIn">
                <h2>Къде</h2>
            </div>
        </div>
        <div class="row">
            <a href="https://siteground.com/">SiteGround</a> офис София: ул. Рачо Петков Казанджията 8, ет.3
            <div id="map1">
                <div id="map_canvas1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1787.137419220798!2d23.36817632450347!3d42.62160807488796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ca7185fd9c70331!2sSiteGround.com!5e1!3m2!1sen!2sbg!4v1495492510195" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
