{% for entry in entries  %}
    <div class="col-sm-3">
        <div class="work wow {% if forloop.counter|divisibleby:2 %}fadeInUp{% else %}fadeInDown{% endif %}">
            <a href="{{ entry.get_absolute_url }}">
                <img data-at2x="{% if entry.image %}{{ entry.image.url }}{% endif %}" alt="{{ entry.title }}" src="{% if entry.image %}{{ entry.image.url }}{% endif %}">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.excerpt|safe|truncatewords_html:10 }}</p>
                <span class="big-link-1">Прочети повече</span>
            </a>
        </div>
    </div>
{% endfor %}
